# --- Залежності ---
node_modules/
jspm_packages/

# --- Збірка (Build) ---
dist/
dist-ssr/
build/
out/
bin/
obj/
.tsbuildinfo

# --- Логи ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Налаштування середовища (СЕКРЕТИ) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
!.env.example

# --- IDE / Редактори ---
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Системні файли (OS) ---
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- Тестування ---
coverage/
.nyc_output/